*{
    box-sizing: border-box;
}


/* 메뉴바 */
.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top:20px;
}

.item{
    cursor: pointer;
}

.item1{
    margin-right: 18px;
}

.item2{
    margin-right: 18px;
}

.item3{
    margin-right: 18px;
}
.item4{
    margin-right: 18px;
    background: brown;
    height:40px;
    width:40px;
    color:white;
    border-radius: 100%;
    margin-top: 6px;
}

.item4 span{
    font-weight: 700;
    font-size: 18px;
    display: block;
    text-align: center;
    margin-top:6px;
    
}

/*메인*/

.main{
    text-align: center;
}

/*로고*/

.logo{
    margin-top: 190px;
    font-size: 130px;
    font-weight: bold;
}

.logo span:nth-child(1){
    color:#4285f4;
}

.logo span:nth-child(2){
    color:#ea4335;
}

.logo span:nth-child(3){
    color:#fbbc05;
}

.logo span:nth-child(4){
    color:#4285f4;
}

.logo span:nth-child(5){
    color:#34a853;
}

.logo span:nth-child(6){
    color:#ea4335;
}

/*검색창*/

.search{
    width: 500px;
    height: 38px;
    border:5px solid gray;
    margin:auto;
    border-radius: 20px;
}

#searchbar{
    border-color: white;
    
}

/*기타*/

.etc1, .etc2{
    display: inline-block;
    margin: 10px 10px;
    height:40px;
    padding:5px 10px;
    background: rgba(0 ,0,0, 0.2);
    cursor: pointer;
}

.info{
    margin: 10px auto;
    width:200px;
    height:40px;
    padding:5px 10px;
    background: rgba(0 ,0,0, 0.2);
}