header {
  width: 100%;
}

header nav {
  text-align: center;
  letter-spacing: 5px;
  margin-top: 50px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin: 0px 20px;
  border-bottom: 2px solid rgb(191, 209, 29);
}

header p {
  height: 500px;
  position: relative;
  font-size: 25px;
  top: 200px;
  left: 20%;
}

#backimg1 {
  float: right;
  position: relative;
  left: 10%;
  right: 10%;
  top: 70px;
  height: 100px;
}

.sec1 {
  text-align: center;
  margin-top: 200px;
  font-size: 1.5em;
}

#author {
  font-size: 0.7em;
}

.table1 {
  margin: 50px 0px;
}

.table1 table {
  height: 100px;
  border-collapse: collapse;
  margin: auto;
}

.td1 {
  border-right: 3px solid brown;
}

footer nav {
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 50px;
}

footer nav ul {
  list-style: none;
}

footer nav ul li {
  display: inline;
  margin: 0px 20px;
  border-top: 2px solid rgb(191, 209, 29);
}
